// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    margin: 0;
    padding: 0;
    font-family: Raleway,sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #6b6e80;
    background: #f4f4f4;
    scrollbar-face-color: #333;
}

#content {
    width: 100%;
    padding: 80px 0;
    font-size: 16px;
    line-height: 28px;
    color: #666;
}


.page-title {
    text-align: center;
    border-bottom: 1px solid #ddd;
    margin-bottom: 40px;
}

.page-title h2 {
    position: relative;
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 800;
    text-transform: uppercase;
}

.page-title h2::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -22px;
    width: 80px;
    height: 3px;
    margin-left: -40px;
    background-color: #5bc0de;
}

.post-container {
    margin-bottom: 30px;
}

.post-content {
    position: relative;
    display: block;
    background-color: #fff;
    border: 1px solid #eee;
    padding: 20px 25px;
    margin-bottom: 2px;
}

.heading-title {
    display: block;
}

.heading-title.heading-small h2 {
    color: #555;
    font-weight: 700;
    text-align: left;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 10px;
}
.heading-title h2 {
    color: #555;
    font-weight: 700;
    text-align: left;
    font-size: 30px;
    line-height: 34px;
    margin-top: 0;
    margin-bottom: 30px;
}

.post-meta {
    display: block;
    padding-top: 5px;
    padding-bottom: 15px;
}

.post-meta span {
    font-size: 13px;
    line-height: 13px;
    color: #888;
}

.post-link {
    padding-top: 10px;
}

.post-link a {
    color: #6b6e80;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    display: block;
    background-image: url(../img/read_more.png);
    background-repeat: repeat-x;
    background-position: 10px center;
}

.post-link a span {
    display: inline-block;
    padding: 0 12px;
    background-color: #fff;
    border: 1px solid #eaeaea;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.post-atribut {
    background-color: #fff;
    border: 1px solid #eee;
    border-bottom-width: 3px;
    padding: 20px 25px;
}


.post-atribut .fa, .post-atribut .glyphicon, .post-atribut a {
    font-size: 20px;
    color: #6b6e80;
    vertical-align: middle;
}

.post-atribut span {
    display: block;
    vertical-align: middle;
    font-size: 14px;
    text-align: center;
}

.post-atribut .fa, .post-atribut .glyphicon, .post-atribut a {
    font-size: 20px;
    color: #6b6e80;
    vertical-align: middle;
}


p {
    margin: 0 0 10px;
}


.post-content blockquote {
    position: relative;
    border-left: none;
    background-color: #5bc0de;
    color: #fff;
    border-radius: 2px;
    padding-top: 50px;
    padding-bottom: 30px;
}

blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 5px solid #eee;
}

.post-content blockquote p {
    text-indent: 55px;
}

.post-content blockquote small {
    color: rgba(0,0,0,.35);
}


.post-content img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 5px auto 20px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}