$primary-color: #0f101a;
$primary-second-color: #1b1d2a;
$second-color: #1ab394;

/*---------------------------HOME-------------------------------*/

#featured {
    width: 100%;
    height: auto;
    padding: 40px 0;
    background: #d9dae9;
}

.featured-container {
    background: #fff;
    padding: 10px;
}

@media screen and (min-width: 1200px) {
    .featured-container .featured-img {
        position: relative;
        width: 100%;
        height: 180px;
        overflow: hidden;
    }
}

.featured-container .featured-img {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.featured-container .featured-img h3 {
    position: absolute;
    left: 0;
    bottom: 10px;
    display: block;
    max-width: 90%;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

.featured-container .featured-img h3 a {
    display: block;
    padding: 10px 15px;
    background-color: $second-color;
    color: #fff;
}




.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}


ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
}

.list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}


#copyright .social-icon>li>a {
    position: relative;
    width: 32px;
    height: 32px;
    background: #6b6e80;
    display: block;
    border-radius: 100%;
}

#copyright .social-icon>li>a>.fa {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 18px;
    height: 18px;
    margin-left: -9px;
    margin-top: -9px;
    color: $primary-second-color;
    font-size: 19px;
}


#copyright .social-icon > li > a:hover {
    background: $second-color;
}

#copyright .copy-left {
    text-align: left;
    margin-top: 10px;
}


    
#copyright .copy-right {
    text-align: right;
    margin-top: 5px;
}

#footer .footer-logo {
    text-align: right;
}

#footer .widget ul>li>a:hover {
    color: #ccc;
}

#footer .widget ul>li>a {
    margin-left: 10px ;
}

#footer .widget ul>li>a {
    color: $second-color;
}


#copyright {
    width: 100%;
    padding: 15px 0 5px;
    background-color: $primary-color;
    color: #ccc;
    font-size: 13px;
}

#footer {
    width: 100%;
    color: #ddd;
    padding: 80px 0 60px;
    background-color: #1b1d2a;
    background-image: url(../img/map.png);
    -webkit-background-size: cover!important;
    -moz-background-size: cover!important;
    -ms-background-size: cover!important;
    -o-background-size: cover!important;
    background-size: cover!important;
    background-repeat: no-repeat;
    background-position: top center;
}

#footer .widget {
    margin-bottom: 20px;
}

#footer .widget h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
